* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Heebo, sans-serif ;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(30, 38%, 92%);
    padding: 1rem;
}

.card {
    background: hsl(0, 0%, 100%);
    border-radius: 10px;
    overflow: hidden;
    max-width: 600px;
    width: 100%;
}

.product-image {
    width: 100%;
    height: auto;
}

.content {
    padding: 1.5rem;
}

.category {
    font-size: 0.8rem;
    letter-spacing: 0.3em;
    color: hsl(228, 12%, 48%);
    margin-bottom: 1rem;
}

h1 {
    color: hsl(212, 21%, 14%);
    font-size: 2rem;
    line-height: 1.1;
    margin-bottom: 1rem;
    text-transform: capitalize;
}

.description {
    color: hsl(228, 12%, 48%);
    line-height: 1.6;
    margin-bottom: 1.5rem;
}

.price-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 2.5rem, 1rem ;
}

.current-price {
    color:  hsl(158, 36%, 37%);
    font-size: 2rem;
    font-weight: 700;
}

.original-price {
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
}

.add-to-cart {
    width: 100%;
    background: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    border: none;
    padding: 1rem;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 0.5rem; */
    cursor: pointer;
    font-weight: 700;
    margin: 30px auto -20px auto;
}

@media (min-width: 640px) {
    .card {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .product-image {
        height: 100%;
    }

    .content {
        padding: 2rem;
    }
}